/* GRID --------------------------------- */

.container {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	max-width: calc(100% - 20px);
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

.container .container {
	width: calc(100% + 20px);
	max-width: calc(100% + 20px);
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -10px;
}

.col-1, 
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.container.nowrwap {
	flex-wrap: nowrap;
}

.col-1 {
	flex: 80px;
}

.col-2 {
	flex: 180px;
}

.col-3 {
	flex: 280px;
}

.col-4 {
	flex: 380px;
}

.col-5 {
	flex: 480px;
}

.col-6 {
	flex: 580px;
}

.col-7 {
	flex: 680px;
}

.col-8 {
	flex: 780px;
}

.col-9 {
	flex: 880px;
}

.col-10 {
	flex: 980px;
}

.col-11 {
	flex: 1080px;
}

.col-12 {
	flex: 1180px;
}

/* NORMALIZE ----------------------------- */

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

a {
	color: #5B8C26;
}

p {
	line-height: 1.7em;
}

/* HEADER --------------------------------- */

header {
	background: #fff;
	border-bottom: 10px solid #5B8C26;
}

.logo-holder {
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
	margin-top: 10px;
	margin-bottom: 10px;
}

nav {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
}

.nav-item > a {
    display: block;
    padding: 44px 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

#mobile-nav-trigger {
    width: 34px;
    height: 26px;
    cursor: pointer;
    align-self: center;
}

@media (min-width: 880px) {
	.logo-holdler {
		flex: 200px;
	}
	.logo {
		width: 200px;
		height: 89px;
	}
	nav {
		flex: calc(100% - 240px);
	}
	#mobile-nav-trigger {
		display: none;
	}
}

@media (max-width: 880px) {
	.nav-item {
		display: none;
	}
	.logo {
		flex: 180px;
	}
	.logo {
		width: 160px;
		height: 71px;
	}
	nav {
		flex: calc(100% - 200px);
		justify-content: flex-end;
	}
}